# Ignorar entornos virtuales
.venv/

# Archivos de configuración del sistema
*.pyc
__pycache__/

# Archivos de logs
*.log

# Archivos de base de datos locales
PyWhatKit_DB.txt

# Archivos de configuración de IDEs
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db
